<a href="https://colab.research.google.com/github/mimi-1/DataProjects/blob/main/Cardio_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cardiovascular disease data
[Cardiovascular disease data ](https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset)

In [ ]:
import math
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score , roc_curve , auc
import matplotlib.pylab as plt
import seaborn as sns
!pip install dmba

from dmba import regressionSummary , classificationSummary
from dmba import liftChart , gainsChart

from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dmba in /usr/local/lib/python3.9/dist-packages (0.1.0)


Cardiovascular desease data contins following features:

Age | Objective Feature | age | int (days)<br />
Height | Objective Feature | height | int (cm) |<br />
Weight | Objective Feature | weight | float (kg) |<br />
Gender | Objective Feature | gender | categorical code |<br />
Systolic blood pressure | Examination Feature | ap_hi | int |<br />
Diastolic blood pressure | Examination Feature | ap_lo | int |<br />
Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |<br />
Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |<br />
Smoking | Subjective Feature | smoke | binary |<br />
Alcohol intake | Subjective Feature | alco | binary |<br />
Physical activity | Subjective Feature | active | binary |<br />
Presence or absence of cardiovascular disease | Target Variable | cardio | binary |<br />

In [ ]:
# file downloaded from Kaggle at Cardiovascular disease data
try:
  cardio_df = pd.read_csv("https://raw.githubusercontent.com/mimi-1/Datasets/main/cardio_train.csv",sep=";")
except Exception as err:
    print(f"Unexpected {err=}, {type(err)=}")
else:
    print("Data were loaded to cardio_df")
    backup = cardio_df.copy(deep=True)

Data were loaded to cardio_df

## Exploratory Data Analysis

In [ ]:
cardio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [ ]:
cardio_df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
cardio_df.head(9)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0

In [ ]:
# We will use only first 1000 records to speed-up 
cardio_df = cardio_df.iloc[0:1000]
predictors = []
outcome = ''
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1)

In [ ]:
cardio_corr = cardio_df.corr()
print(cardio_corr)
sns.heatmap(cardio_corr)
plt.show()

                   id       age    gender    height    weight     ap_hi  \
id           1.000000  0.003457  0.003502 -0.003038 -0.001830  0.003356
age          0.003457  1.000000 -0.022811 -0.081515  0.053684  0.020764
gender       0.003502 -0.022811  1.000000  0.499033  0.155406  0.006005
height      -0.003038 -0.081515  0.499033  1.000000  0.290968  0.005488
weight      -0.001830  0.053684  0.155406  0.290968  1.000000  0.030702
ap_hi        0.003356  0.020764  0.006005  0.005488  0.030702  1.000000
ap_lo       -0.002529  0.017647  0.015254  0.006150  0.043710  0.016086
cholesterol  0.006106  0.154424 -0.035821 -0.050226  0.141768  0.023778
gluc         0.002467  0.098703 -0.020491 -0.018595  0.106857  0.011841
smoke       -0.003699 -0.047633  0.338135  0.187989  0.067780 -0.000922
alco         0.001210 -0.029723  0.170966  0.094419  0.067113  0.001408
active       0.003755 -0.009927  0.005866 -0.006570 -0.016867 -0.000033
cardio       0.003799  0.238159  0.008109 -0.010821  0.181660  0.054475

                ap_lo  cholesterol      gluc     smoke      alco    active  \
id          -0.002529     0.006106  0.002467 -0.003699  0.001210  0.003755
age          0.017647     0.154424  0.098703 -0.047633 -0.029723 -0.009927
gender       0.015254    -0.035821 -0.020491  0.338135  0.170966  0.005866
height       0.006150    -0.050226 -0.018595  0.187989  0.094419 -0.006570
weight       0.043710     0.141768  0.106857  0.067780  0.067113 -0.016867
ap_hi        0.016086     0.023778  0.011841 -0.000922  0.001408 -0.000033
ap_lo        1.000000     0.024019  0.010806  0.005186  0.010601  0.004780
cholesterol  0.024019     1.000000  0.451578  0.010354  0.035760  0.009911
gluc         0.010806     0.451578  1.000000 -0.004756  0.011246 -0.006770
smoke        0.005186     0.010354 -0.004756  1.000000  0.340094  0.025858
alco         0.010601     0.035760  0.011246  0.340094  1.000000  0.025476
active       0.004780     0.009911 -0.006770  0.025858  0.025476  1.000000
cardio       0.065719     0.221147  0.089307 -0.015486 -0.007330 -0.035653

               cardio
id           0.003799
age          0.238159
gender       0.008109
height      -0.010821
weight       0.181660
ap_hi        0.054475
ap_lo        0.065719
cholesterol  0.221147
gluc         0.089307
smoke       -0.015486
alco        -0.007330
active      -0.035653
cardio       1.000000