In [ ]:
import pandas as pd
import numpy as np # to read the shape of the dataframe
import IPython.core.display as display #markdown/html output for prettier output

## Reading dataframe from excel

In [ ]:
# Google colab mount google drive to get file 
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
# Cheking content of the folder
%ls /content/drive/Shareddrives/Machine\ Learning\ 1\ /Data/

BostonHousing.xls

In [ ]:

#Default name for our group.
file_name=r'/content/drive/Shareddrives/Machine Learning 1 /Data/BostonHousing.xls'

#uncomment following line to use file name if you work from your computer
# file_name = 'BostonHousing.xls'

#Fetch data
# schema = {'CRIM': float, 'ZN': float, 'INDUS':float, 'CHAS': int }
#bhdf = pd.read_excel(file_name, sheet_name='Data', dtype=schema, engine = "xlrd")

bhdf = pd.read_excel(file_name, sheet_name='Data', engine = "xlrd")

#converting all string values to numeric nan, adapted from StackOverflow 
# https://stackoverflow.com/questions/39184442/pandas-dataframe-set-all-string-values-to-nan

for col in bhdf.columns:
    bhdf[col] = pd.to_numeric(bhdf[col], errors='coerce')

## Exploration

In [ ]:
display.display_html(bhdf.sample(10))

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
128,0.32543,0.0,21.89,0,0.624,6.431,98.8,1.8125,4,437,21.2
20,1.25179,0.0,8.14,0,0.538,5.570,98.1,3.7979,4,307,44.0
28,0.77299,0.0,8.14,0,0.538,6.495,94.4,4.4547,4,307,21.0
139,0.54452,0.0,21.89,0,0.624,6.151,97.9,1.6687,4,437,21.2
5,0.02985,0.0,NaN,0,0.458,6.430,58.7,6.0622,3,222,137.0
59,0.10328,25.0,NaN,0,0.453,5.927,47.2,6.9320,8,284,19.7
81,0.04462,25.0,4.86,0,0.426,6.619,70.4,5.4007,4,281,19.0
82,0.03659,25.0,4.86,0,0.426,6.302,32.2,5.4007,4,281,19.0
155,0.06888,0.0,NaN,0,0.488,6.144,62.2,2.5979,3,193,17.8
41,0.12744,0.0,2.95,0,0.448,6.770,2.9,5.7209,3,233,17.9

In [ ]:
display.display(bhdf.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO'],
      dtype='object')

**Dataset Description**
* **CRIM**     per capita crime rate by town
* **ZN**       proportion of residential land zoned for lots over 25,000 sq.ft. 
* **INDUS**    proportion of non-retail business acres per town. 
* **CHAS**     Charles River dummy variable (1 if tract bounds river; 0 otherwise) 
* **NOX**       nitric oxides concentration (parts per 10 million) 
* **RM**        average number of rooms per dwelling 
* **AGE**       proportion of owner-occupied units built prior to 1940 
* **DIS**      weighted distances to five Boston employment centres 
* **RAD**      index of accessibility to radial highways 
* **TAX**      full-value property-tax rate per $10,000 
* **PTRATIO** pupil-teacher ratio by town

In [ ]:
#Checking dublicated 
bhdf [bhdf.duplicated()]

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO]
Index: []

In [ ]:
# Dimension of the dataset
print(np.shape(bhdf)) #not exactly 506X14

(167, 11)

In [ ]:
#Check datatypes
bhdf.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
dtype: object

All fields are numeric

In [ ]:
display.display(display.Markdown("<b> Statisticsl Summary of dataset by attribute :</b> "))
display.display_html(bhdf.describe())

<b> Statisticsl Summary of dataset by attribute :</b>

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
count,167.000000,167.000000,139.000000,167.000000,161.000000,167.000000,167.000000,163.000000,167.000000,167.000000,164.000000
mean,0.295958,9.032934,9.122878,0.005988,0.505864,6.226030,66.055689,4.169953,4.119760,314.658683,20.938659
std,0.548701,19.952137,6.632088,0.077382,0.079996,0.512468,27.833354,1.800800,1.320836,76.814420,16.362157
min,0.006320,0.000000,0.740000,0.000000,0.398000,4.903000,2.900000,1.321600,1.000000,188.000000,0.230000
25%,0.067620,0.000000,4.050000,0.000000,0.448000,5.886500,44.200000,2.701250,3.000000,263.000000,17.800000
50%,0.122040,0.000000,8.140000,0.000000,0.499000,6.142000,69.700000,3.976900,4.000000,307.000000,18.700000
75%,0.223505,12.500000,10.010000,0.000000,0.538000,6.455000,92.050000,5.400900,5.000000,384.000000,20.900000
max,4.097400,100.000000,25.650000,1.000000,0.871000,8.069000,100.000000,9.222900,8.000000,469.000000,177.000000

## Handling Missing Values
*Handling missing data except PTRATIO predictor*

### Missing value report subroutine
generates reports about missing value in a dataframe

In [ ]:
#Checking missing values (nan)
def missing_values_report(df):
  missing_values_count = df.isnull().sum()
  print(missing_values_count)
  print()
  
  missing_col = []
  l = list(missing_values_count.index)
  for i in l:
    if missing_values_count[i]>0:
      missing_col.append(i)
  # missing_columns = [c in missing_values_count[0] where  ]
  #percent of missing data 
  # total cells
  total_cells = np.product(df.shape) #total cells
  total_missing = missing_values_count.sum() #missing cells
  percent_missing = (total_missing/total_cells) * 100 #missing percent
  print("Missing data percentage:" , percent_missing)
  print("Total records:", len(df))
  return missing_col

missing_col = missing_values_report(bhdf)

CRIM        0
ZN          0
INDUS      28
CHAS        0
NOX         6
RM          0
AGE         0
DIS         4
RAD         0
TAX         0
PTRATIO     3
dtype: int64

Missing data percentage: 2.231899836690256
Total records: 167

### Handling Missing Data: Omission

In [ ]:
bhdf_reduced = bhdf.dropna()

In [ ]:
# missing data report for reduced data
missing_values_report(bhdf_reduced)

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
dtype: int64

Missing data percentage: 0.0
Total records: 129

[]

In [ ]:
print(f"We have dropped {len(bhdf) - len(bhdf_reduced)} records out of {len(bhdf)}")

We have dropped 38 records out of 167

### Handling Missing Data: Imputation

Replacing missing data with median

In [ ]:
#our columns to replace missing values apart from PTRATIO
missing_col.remove('PTRATIO')
missing_col #columnt with missing data

['INDUS', 'NOX', 'DIS']

In [ ]:
#substitute median
bhdf_imputed = bhdf.copy()
for col in missing_col:
  median_substitute = bhdf[col].median()
  bhdf_imputed[col] = bhdf[col].fillna(value=median_substitute)
  
missing_values_report(bhdf_imputed)

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    3
dtype: int64

Missing data percentage: 0.16330974414806748
Total records: 167

['PTRATIO']

## Looking for outliers in PTRATIO predictor

In [ ]:
#Checking Summary
print("PTRATIO summary: ")
bhdf_summary = bhdf.PTRATIO.describe()
print(bhdf_summary)

q75 = bhdf_summary['75%']
q25= bhdf_summary['25%']
iqr =  q75 - q25

PTRATIO summary:
count    164.000000
mean      20.938659
std       16.362157
min        0.230000
25%       17.800000
50%       18.700000
75%       20.900000
max      177.000000
Name: PTRATIO, dtype: float64

In [ ]:
print("IQR = ",iqr)
print("Range = ",bhdf_summary['max'] - bhdf_summary['min'] )

IQR =  3.099999999999998
Range =  176.77

Cutting outliers

In [ ]:
cutoff = iqr * 1.5

# expecting outliers 
lower, upper = q25 - cutoff, q75 + cutoff

print (f"lower cut = {lower}, upper cut = {upper}")
#getting top and bottom 25% of data 

#possible outliers
print("Possible outliers: ")
print()
print("With values that are too big")
print(bhdf.PTRATIO[bhdf.PTRATIO > upper].sort_values(ascending=False))
print()
print("With values that are too small")
print(bhdf.PTRATIO[bhdf.PTRATIO < lower].sort_values())

lower cut = 13.150000000000004, upper cut = 25.549999999999997
Possible outliers:

With values that are too big
74     177.0
5      137.0
144     51.3
145     50.3
34      47.0
31      46.0
20      44.0
Name: PTRATIO, dtype: float64

With values that are too small
13    0.23
54    2.11
Name: PTRATIO, dtype: float64